<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 769px; width: 878px; z-index: -999999; position: fixed;"><img src="../assets/1.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1153.5px; height: 769px; max-height: none; max-width: none; z-index: -999999; left: -137.75px; top: 0px;"></div>

<app-osobni-form></app-osobni-form>

<app-footer></app-footer>